[*.cs]
dotnet_analyzer_diagnostic.severity = error

# IDE0022: Use expression body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0032: Use auto property
dotnet_diagnostic.IDE0032.severity = none

# IDE0045: Convert to conditional expression
dotnet_diagnostic.IDE0045.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
